body{
        margin:15px;
        padding:10px;
        position:relative;
        background-image:url("pro.jpg");
        background-image:100%;

    }


  header
  {
      background-color:white;
       padding:0%;
       background-image:url("pro1.jpg");
       background-image:100%;
   }
       nav>a{
                display:inline-block;
                padding:19px;
                margin:2px;
                text-decoration:none;
                background-color:transparent;
                border-width: 10px 3px;
                color:#000000;
                border-radius:25px;
                width:15%;
                height:5px; 
                text-align:center;
                font-weight:bold;
                font-size:21px;
            }

a:hover{
  
  background-color:white;
   color:black;
}
h1{
  color:white;
  text-align:center;
}
h2{
  color:black;
  text-align:left;
  font-size:32px;
}
table {
  width:100%;
  border: 1px solid black;
 padding: 15px;
  text-align:center;
}